<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home_page.css') }}">
</head>
<body>
    
    <div id="global">
        <div class="nav_bar">
            <h1>Welcome, {{ user.first_name | capitalize }}</h1>
            <h2>All posted recipes</h2>
            <div class="nav_buttons">
                <a href="/recipes/new">Create</a>
                <a href="/">Logout</a>
            </div>
        </div>

        {{ one_with_likes.id }}

        <div class="body">
            <table class='table'>
                <thead>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Under</th>
                    <th>Posted By</th>
                    <th>Likes</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    {% for recipe in all_recipes %}
                        <tr>
                            <td>{{ recipe.id }}</td>
                            <td>{{ recipe.name | capitalize }}</td>
                            <td>{{ recipe.duration }}</td>
                            <td>{{ recipe.creator.first_name }}</td>
                            <td>
                                {% for user in one_with_likes.liked_by %}
                                {% if user.id != recipe.id %}
                                <a href="/like/{{ recipe.id }}">Like</a>
                                {% else %}
                                <a href="/unlike/{{ recipe.id }}">Unlike</a>
                                {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                    {% if recipe.user_id == user.id %}
                                    <div class="action_links">
                                        <a href="/view/{{ recipe.id }}">View</a>
                                        <a href="/edit/{{ recipe.id }}">Edit</a>
                                        <a href="/delete/{{ recipe.id }}">Delete</a>
                                    </div>
                                    {% else %}
                                    <div class="action_links">
                                        <a href="/view/{{ recipe.id }}">View</a>
                                    </div>
                                    {% endif %}
                                </td>
                  
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <hr>
            <table>
                <tbody>
                    {% for recipe in all_recipes %}
                    <td>
                        |START| recipe.id : {{recipe.id}}
                        {% for user in one_with_likes.liked_by %}
                        || user.first_name : {{user.first_name}} ~
                        user.id : {{ user.id }} |FINISH|
                        {% endfor %}
                    </td>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>